It's possible to embed Netzke components straight into Rails views. Here are some examples (the links open in a new window).

%h2 GridPanel

%p
  Basepack::GridPanel is the most powerful and most used component of Netzke::Basepack.
  %br
  = new_window_link_to "Demo/tutorial", :controller => "grid_panel"
  \.

%h2 BorderLayoutPanel
= new_window_link_to "Demo", :controller => "border_layout_panel"

%h2 TabPanel
= new_window_link_to "Demo", :controller => "tab_panel"

%h2 AccordionPanel
= new_window_link_to "Demo", :controller => "accordion_panel"

%h2 Window
= new_window_link_to "Demo", :controller => "window"
