%h2 Netzke framework demo/tutorial

%h3 Basepack::SimpleApp

%p
  Start with this demo if you want to quickly get a feeling of what Netzke can provide.
%p
  Basepack::SimpleApp is a Ext.Viewport-based component that can serve as the basis for a single-page web-app, and is capable of dynamic loading of other components. It has simple support for browser history, as well as automatic indication of AJAX-activity (the status-bar below). The source code for this example can be found
  = link_to "here", "https://github.com/skozlov/netzke-demo/blob/rails3/app/components/some_simple_app.rb"
  \.

%p
  =link_to "Live demo", components_path(:component => "SomeSimpleApp")

%h3 Basepack::GridPanel

%p
  Basepack::GridPanel is the most powerful and most used component of Netzke::Basepack.

%p
  Extensive
  = link_to "demo/tutorial", :controller => "grid_panel"
  of Basepack::GridPanel as a stand-alone widget.

%p
  Basepack::GridPanel integrated into an "application" (Ext.Viewport-based widget). See it in action in different places through out the
  = link_to "SimpleApp demo", components_path(:component => "SomeSimpleApp")
  \.

%h3 FormPanel

%p
  See it in action in different places through out the
  = link_to "SimpleApp demo", components_path(:component => "SomeSimpleApp")
  \.

%h3 BorderLayoutPanel
= link_to "Live demo", :controller => "border_layout_panel"

%h3 TabPanel
= link_to "Live demo", :controller => "tab_panel"

%h3 AccordionPanel
= link_to "Live demo", :controller => "accordion_panel"

%h3 Window
= link_to "Live demo", :controller => "window"

%h3 Composite components

%p
  With Netzke it's extremely easy to build composite components using existing components as building blocks.

%p
  = link_to "BossesAndClerks", components_path(:component => "SomeSimpleApp", :anchor => "bossesAndClerks")
  \- learn how it was built
  = link_to "here", "http://blog.writelesscode.com/blog/2009/09/24/building-rails-extjs-reusable-components-with-netzke-part-3/"

%h2 The code, info, etc
%p
  = link_to "Project website", "http://netzke.org"

%p
  Source code for this demo (a good way to learn how to use Netzke) is on
  = link_to "GitHub", "https://github.com/skozlov/netzke-demo"

%p
  Documentation (tutorials, guides, FAQ):
  = link_to "Netzke wiki", "https://github.com/skozlov/netzke/wiki"

%p
  Discuss Netzke on
  = link_to "Netzke Google Groups", "http://groups.google.com/group/netzke"

%p
  Netzke source code:
  = link_to "netzke-core", "https://github.com/skozlov/netzke-core"
  |
  = link_to "netzke-basepack", "https://github.com/skozlov/netzke-basepack"

%p
  More tutorials:
  = link_to "http://blog.writelesscode.com", "http://blog.writelesscode.com"

%p
  The latest news on Netzke development, productivity tips, etc, on
  = link_to "Twitter", "http://twitter.com/skozlov"

= render :partial => "shared/analytics"
