<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Netzke framework demo/tutorial - integrating Ext JS and Rails</title>
</head>
<body>
  <h2>Netzke framework demo/tutorial</h2>
  <h3>BasicApp</h3>
  <%= link_to "Introduction", :controller => "basic_app", :action => "intro" %>,
  <%= link_to "Demo", :controller => "basic_app", :action => "demo" %>

  <h3>GridPanel</h3>
  <p><%= link_to "Demo/Tutorial", :controller => "grid_panel" %> of GridPanel as a stand-alone widget</p>
  <p>GridPanel integrated into an "application" (Ext.Viewport-based widget): <%= link_to "here", "basic_app/demo#clerks"%> and <%= link_to "here", "basic_app/demo#bosses"%></p>

  <h3>FormPanel</h3>
  See UserManager widget in the <%= link_to "BasicApp demo", :controller => "basic_app", :action => "intro" %>

  <h3>TreePanel</h3>
  Demo (coming soon)

  <h3>TabPanel</h3>
  Demo (coming soon)

  <h3>AccordionPanel</h3>
  See the configuration window for Grid/FormPanel

  <h3>Composite widgets</h3>
  <p>UserManager widget in the <%= link_to "BasicApp demo", :controller => "basic_app", :action => "intro" %></p>
  <p><%= link_to "OneToManyGridSet", "basic_app/demo#bossesAndClerks" %> proof-of-concept (see a comprehensive tutorial on how it was built <%= link_to "here", "http://blog.writelesscode.com/past/2009/3/27/building_rails_extjs_reusable_components_with_netzke_part_2/"%>)</p>

  <h2>The code</h2>
  <p>Source code for this demo: <a href = http://github.com/skozlov/netzke-demo/tree/master>http://github.com/skozlov/netzke-demo/tree/master</a></p>
  <p>Netzke framework: <a href = http://github.com/skozlov/netzke-core/tree/master>netzke-core</a>, <a href = http://github.com/skozlov/netzke-basepack/tree/master>netzke-basepack</a></p>
  <p>News about Netzke development and tutorials: <a href = http://blog.writelesscode.com>http://blog.writelesscode.com</a>
  </p>

	<%= render :partial => "shared/analytics" %>
</body>
