<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= h("Netzke: Sencha Ext JS and Ruby on Rails component framework") %></title>
  <%= csrf_meta_tag %>
  <%= load_netzke %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <%= yield %>
  <%= render :partial => "shared/analytics" %>
</body>
</html>
